.main{
    background-image: url(DALL·E\ 2025-03-26\ 20.30.10\ -\ A\ clear\ and\ visually\ appealing\ image\ of\ a\ Tic-Tac-Toe\ game\ in\ progress\ on\ a\ wooden\ board.\ The\ X\ and\ O\ marks\ are\ neatly\ drawn\,\ with\ one\ slot\ remaining\ .webp);
    background-size: cover;
    background-position: center;
    height: 46vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start{
    background-color: saddlebrown;
    height: 5vw;
    width: 15vw;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vw;
    color:yellowgreen;
}
.Header{
    background-color: burlywood;
    display:flex;
    justify-content: center;
   
} 
.navbar{
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.footer{

    display: flex;
    color:black;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: wheat;
    align-items: center;
    gap:5px;
}
.video {
    display: flex;
    justify-content: flex-start; /* Pushes the video to the right */
    align-items: center; /* Centers vertically if needed */
    width: 100%; /* Ensures it spans the full width of the container */
    height: 250px; 
    border-radius: 10px;
} 

 .video video {
    width: 100%; /* Adjust based on need */
    height: 250px; 

} 
